@inherits LayoutComponentBase

<PageTitle>R2O - Admin</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div>
            <LoginDisplay></LoginDisplay>
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>
